<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/thing" method="post">
        <input type="text" name="name" id="name">
        <input type="text" name="description" id="description">
        <select name="author" id="author">
            <% authors.map( author => { %>
                <option value="<%= author.id %>"><%= author.firstname %> <%= author.lastname %></option>
            <% }) %>
        </select>
        <input type="submit" value="Submit">
    </form>
    <% if (things && things.length > 0) { %>
        <ul>
            <% things.map( thing => { %>
                <li><%= thing.name %> <%= thing.description %></li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>Aucune thing</p>
    <% } %>
</body>
</html>